html, body {
  font-family: 'Helvetica Neue', 'Arial', 'Times New Roman';
  font-size: 16px;
  font-weight: 100;
  margin: 0; }

.app-header {
  background-color: #1A237E;
  border-bottom: 2px solid #3F51B5;
  color: #E8EAF6;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  right: 0; }

.cg-button {
  background: #536DFE;
  border: 1px solid #E8EAF6;
  border-radius: 4px;
  color: #E8EAF6;
  font-size: 16px;
  font-weight: 100;
  height: 40px; }
  .cg-button:hover {
    background: #304FFE;
    cursor: pointer; }
  .cg-button:disabled {
    background: #304FFE;
    cursor: default;
    opacity: .5; }

header .cg-button {
  position: absolute;
  top: 10px;
  width: 80px; }

.save {
  right: 10px; }

.exit {
  left: 10px; }

.question-group {
  border-bottom: 2px solid #3F51B5;
  margin-left: 15px;
  margin-right: 15px; }

.row-section {
  box-sizing: border-box;
  margin-bottom: 15px; }

.question, .answer, .finding, .status {
  font-weight: 300; }
  .question textarea, .answer textarea, .finding textarea, .status textarea {
    height: 75px;
    width: 100%; }
  .question-label, .answer-label, .finding-label, .status-label {
    font-size: 18px;
    font-weight: 500; }

.controls {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #5C6BC0;
  border-bottom: 2px solid #1A237E;
  color: #fff;
  line-height: 60px;
  height: 60px;
  text-align: center; }
  .controls:after {
    content: " ";
    display: block;
    clear: both; }
  .controls .previous-container {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    height: 60px; }
  .controls .progress-container {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    height: 60px; }
  .controls .next-container {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    height: 60px; }
  .controls .cg-button {
    width: 100px; }
