@font-face {
  font-family: 'Droid Sans';
  src: url("../fonts/Droid_Sans/DroidSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0; }

body * {
  box-sizing: border-box; }

.app-header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #1A237E;
  border-bottom: 2px solid #3F51B5;
  color: #E8EAF6;
  font-size: 24px;
  height: 75px;
  text-align: center; }
  .app-header:after {
    content: " ";
    display: block;
    clear: both; }

.cg-button {
  background: #536DFE;
  border: 1px solid #E8EAF6;
  border-radius: 4px;
  color: #E8EAF6;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 15px; }
  .cg-button:hover {
    background: #304FFE;
    cursor: pointer; }
  .cg-button:disabled {
    background: #304FFE;
    cursor: default;
    opacity: .5; }

.app-header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .app-header:after {
    content: " ";
    display: block;
    clear: both; }
  .app-header .exit-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 8.33333%;
    float: left;
    line-height: 65px; }
    .app-header .exit-container:after {
      content: " ";
      display: block;
      clear: both; }
  .app-header .title-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    float: left; }
    .app-header .title-container:after {
      content: " ";
      display: block;
      clear: both; }
    .app-header .title-container .title {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding-top: 5px; }
    .app-header .title-container .total-progress-indicator {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      font-size: 14px;
      line-height: 14px;
      padding-top: 10px; }
      .app-header .title-container .total-progress-indicator input {
        width: 35px; }
  .app-header .save-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 16.66667%;
    float: left;
    line-height: 65px; }
    .app-header .save-container:after {
      content: " ";
      display: block;
      clear: both; }

.question-group {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 66.66667%;
  float: left;
  padding: 10px; }
  .question-group:after {
    content: " ";
    display: block;
    clear: both; }

.row-section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  margin-bottom: 15px; }
  .row-section:after {
    content: " ";
    display: block;
    clear: both; }
  .row-section.customer-response-row {
    width: 50%;
    float: left; }
  .row-section.auditor-notes-row {
    width: 50%;
    float: right;
    margin-right: 0; }

.question, .answer, .finding, .status, .domain, .objective, .reason, .source, .customer-response, .auditor-notes {
  font-weight: 300; }
  .question textarea, .answer textarea, .finding textarea, .status textarea, .domain textarea, .objective textarea, .reason textarea, .source textarea, .customer-response textarea, .auditor-notes textarea {
    height: 125px;
    width: 100%;
    resize: none; }
  .question-label, .answer-label, .finding-label, .status-label, .domain-label, .objective-label, .reason-label, .source-label, .customer-response-label, .auditor-notes-label {
    font-size: 18px;
    font-weight: bold; }

.answers-label, .policy-defined-label, .automation-label, .implementation-label, .reporting-label {
  font-weight: 400;
  letter-spacing: 1px; }

.controls {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #5C6BC0;
  border-bottom: 2px solid #3F51B5;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center; }
  .controls:after {
    content: " ";
    display: block;
    clear: both; }
  .controls .previous-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    float: left;
    padding: 10px 0; }
    .controls .previous-container:after {
      content: " ";
      display: block;
      clear: both; }
  .controls .progress-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left; }
    .controls .progress-container:after {
      content: " ";
      display: block;
      clear: both; }
    .controls .progress-container input {
      width: 25px; }
    .controls .progress-container .domain-container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 33.33333%;
      float: left;
      padding: 5px 0; }
      .controls .progress-container .domain-container:after {
        content: " ";
        display: block;
        clear: both; }
      .controls .progress-container .domain-container .domain-container-label {
        font-size: 16px;
        text-align: center; }
      .controls .progress-container .domain-container .domain-progress-indicator {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 5px; }
        .controls .progress-container .domain-container .domain-progress-indicator:after {
          content: " ";
          display: block;
          clear: both; }
    .controls .progress-container .section-container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 33.33333%;
      float: left;
      padding: 5px 0; }
      .controls .progress-container .section-container:after {
        content: " ";
        display: block;
        clear: both; }
      .controls .progress-container .section-container .section-container-label {
        font-size: 16px;
        text-align: center; }
      .controls .progress-container .section-container .section-progress-indicator {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 5px; }
        .controls .progress-container .section-container .section-progress-indicator:after {
          content: " ";
          display: block;
          clear: both; }
    .controls .progress-container .objective-container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 33.33333%;
      float: right;
      margin-right: 0;
      padding: 5px 0; }
      .controls .progress-container .objective-container:after {
        content: " ";
        display: block;
        clear: both; }
      .controls .progress-container .objective-container .objective-container-label {
        font-size: 16px;
        text-align: center; }
      .controls .progress-container .objective-container .objective-progress-indicator {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        padding: 5px; }
        .controls .progress-container .objective-container .objective-progress-indicator:after {
          content: " ";
          display: block;
          clear: both; }
  .controls .next-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    float: right;
    margin-right: 0;
    padding: 10px 0; }
    .controls .next-container:after {
      content: " ";
      display: block;
      clear: both; }
  .controls .cg-button {
    width: 100px; }

.nav-menu {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 16.66667%;
  float: left;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px; }
  .nav-menu:after {
    content: " ";
    display: block;
    clear: both; }
  .nav-menu .nav-item {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #3F51B5;
    border-right: 2px solid #3F51B5;
    padding: 10px;
    transition: all .3s ease-out; }
    .nav-menu .nav-item:after {
      content: " ";
      display: block;
      clear: both; }
    .nav-menu .nav-item:hover {
      background-color: #3F51B5;
      color: #fff;
      cursor: pointer; }

choice-menu {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 16.66667%;
  float: right;
  margin-right: 0;
  font-size: 12px; }
  choice-menu:after {
    content: " ";
    display: block;
    clear: both; }
  choice-menu choice-item {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    padding-left: 0; }
    choice-menu choice-item:after {
      content: " ";
      display: block;
      clear: both; }
    choice-menu choice-item choice-label {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      font-weight: 400;
      letter-spacing: 1px;
      padding-bottom: 5px; }

cg-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative; }
  cg-dropdown cg-dropdown-item {
    background-color: #1A237E;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 0 10px;
    transition: background-color .3s ease; }
    cg-dropdown cg-dropdown-item:hover {
      background-color: #3F51B5; }
  cg-dropdown cg-inner-dropdown {
    display: none;
    position: absolute; }
  cg-dropdown:hover cg-inner-dropdown {
    display: block; }
