<!DOCTYPE html>
<html lang="en" ng-app="cgapp">
<head>
  <meta charset="UTF-8">
  <title>Critera Group</title>
  <script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="../../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="../client/app.js"></script>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../messenger/messenger.css">
</head>
<body ng-controller="mainController as main">
  <header class="app-header">
    <span class="exit-container">
      <button class="cg-button exit" data-ng-click="main.exit()">Exit</button>
      <button class="cg-button open" data-ng-click="main.open()">Open</button>
    </span>
    <span class="title-container">
      <span class="title">Critera Group</span>
      <span class="total-progress-indicator">
        <input data-ng-model="main.questionNumber" data-ng-change="main.updateQuestion()" /> / {{main.totalQuestions}}
      </span>
    </span>
    <!--<span class="export-container">
      <button class="cg-button export" data-ng-click="main.exportFile()">Export</button>
    </span>-->
    <span class="save-container">
      <!--<img class="export-icon" src="../icons/svg/download.svg" alt="Export" data-ng-click="main.exportFile()" width="35px">-->
      <!--<img class="save-icon" src="../icons/svg/explore.svg" alt="Save" data-ng-click="main.save()" width="35px">-->
      <cg-dropdown>
        <cg-dropdown-title class="cg-button">Export</cg-dropdown-title>
        <cg-inner-dropdown>
          <cg-dropdown-item data-ng-click="main.exportFile('json')">JSON</cg-dropdown-item>
          <cg-dropdown-item data-ng-click="main.exportFile('xml')">XML</cg-dropdown-item>
          <!--<cg-dropdown-item data-ng-click="main.exportFile('xlsx')">XLSX</cg-dropdown-item>-->
        </cg-inner-dropdown>
      </cg-dropdown>
      <button class="cg-button save" data-ng-click="main.save()">Save</button>
    </span>
  </header>
  <div class="controls">
    <span class="previous-container">
      <button class="cg-button" type="button" data-ng-click="main.previous()" data-ng-disabled="!main.canGoPrevious()">Previous</button>
    </span>

    <span class="progress-container">
      <span class="domain-container">
        <span class="domain-container-label">Domain ({{main.domainIndex}} of {{main.domainTotal}})</span>
        <span class="domain-progress-indicator">
          {{main.currentDomain}}
        </span>
      </span>
      <span class="section-container">
        <span class="section-container-label">Section</span>
        <span class="section-progress-indicator">{{main.current.section}}</span>
      </span>
      <span class="objective-container">
        <span class="objective-container-label">Objective</span>
        <span class="objective-progress-indicator">{{main.current.objective}}</span>
      </span>
    </span>

    <span class="next-container">
      <button class="cg-button" type="button" data-ng-click="main.next()" data-ng-disabled="!main.canGoNext()">Next</button>
    </span>
  </div>
  <span class="content-container">
    <span class="nav-menu">
      <span class="nav-item" data-ng-repeat="domain in main.domains" data-ng-click="main.goToDomain(domain)">
        {{domain}}
      </span>
    </span>
    <span class="question-group">
      <span class="row-section">
        <span class="question-label">Question #{{main.domainIndex}}:</span>
        <span class="question" data-ng-bind-html="main.current.question"></span>
      </span>
      <span class="row-section customer-response-row">
        <span class="customer-response-label">Customer Response:</span>
        <span class="customer-response">
          <textarea data-ng-model="main.current['customer response']"></textarea>
        </span>
      </span>
      <span class="row-section auditor-notes-row">
        <span class="auditor-notes-label">Auditor Notes:</span>
        <span class="auditor-notes">
          <textarea data-ng-model="main.current['auditor notes']"></textarea>
        </span>
      </span>
      <!--<span class="row-section">
        <span class="status-label">Status:</span>
        <span class="status">
          <select data-ng-options="status.text for status in main.statusOptions track by status.id" data-ng-model="main.current.status"></select>
        </span>
      </span>-->
      <span class="row-section">
        <span class="reason-label">Background: </span> 
        <span class="reason" data-ng-bind-html="main.current.reason"></span>
      </span>
      <span class="row-section">
        <span class="source-label">Source: </span> 
        <span class="source" data-ng-bind-html="main.current.source"></span>
      </span>
    </span>
    <choice-menu>
      <choice-item>
        <choice-label>Compliant?:</choice-label>
        <span class="answers">
          <select data-ng-options="answer.text for answer in main.answers track by answer.id" data-ng-model="main.current.answer"></select>
        </span>
      </choice-item>
      <choice-item data-ng-show="main.isCompliant()">
        <choice-label>Policy Defined?:</choice-label>
        <span class="policy-defined">
          <select data-ng-options="policy.text for policy in main.policyDefined track by policy.id" data-ng-model="main.current['policy_defined']"></select>
        </span>
      </choice-item>
      <choice-item data-ng-show="main.isCompliant()">
        <choice-label>Automation?:</choice-label>
        <span class="automation">
          <select data-ng-options="automationOption.text for automationOption in main.automation track by automationOption.id" data-ng-model="main.current['control_automated_or_technically_enforced']"></select>
        </span>
      </choice-item>
      <choice-item data-ng-show="main.isCompliant()">
        <choice-label>Implementation?:</choice-label>
        <span class="implementation">
          <select data-ng-options="implementationOption.text for implementationOption in main.implementation track by implementationOption.id" data-ng-model="main.current['control_implemented']"></select>
        </span>
      </choice-item>
      <choice-item data-ng-show="main.isCompliant()">
        <choice-label>Reporting?:</choice-label>
        <span class="reporting">
          <select data-ng-options="reportingOption.text for reportingOption in main.reporting track by reportingOption.id" data-ng-model="main.current['control_reported_to_business']"></select>
        </span>
      </choice-item>
    </choice-menu>
  </span>
</body>
</html>
