<!DOCTYPE html>
<html lang="en" ng-app="cgapp">
<head>
  <meta charset="UTF-8">
  <title>Critera Group</title>
  <script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="../client/app.js"></script>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../messenger/messenger.css">
</head>
<body ng-controller="mainController as main">
  <header class="app-header">
    Critera Group
    <button class="cg-button exit" data-ng-click="main.exit()">Exit</button>
    <button class="cg-button save" data-ng-click="main.save()">Save</button>
  </header>
  <div class="controls">
    <span class="previous-container">
      <button class="cg-button" type="button" data-ng-click="main.previous()">Previous</button>
    </span>

    <span class="progress-container">
      {{main.data.length}}
    </span>

    <span class="next-container">
      <button class="cg-button" type="button" data-ng-click="main.next()">Next</button>
    </span>
  </div>

  <div class="question-group" data-ng-repeat="row in main.data">
    <div class="row-section">
      <div class="question-label">Question:</div>
      <div class="question">
        {{::row.question}}
      </div>
    </div>
    <div class="row-section">
      <div class="answer-label">Answer:</div>
      <div class="answer">
        <textarea data-ng-model="row.answer"></textarea>
      </div>
    </div>
    <div class="row-section">
      <div class="finding-label">Finding:</div>
      <div class="finding">
        <textarea data-ng-model="row.finding"></textarea>
      </div>
    </div>
    <div class="row-section">
      <div class="status-label">Status:</div>
      <div class="status">
        <textarea data-ng-model="row.status"></textarea>
      </div>
    </div>
  </div>
</body>
</html>
