@import "../node_modules/susy/sass/susy";

$susy: (
  columns: 12,
  gutters: 1/4
);

$purple: #3F51B5;
$white: #fff;

html, body {
  font-family: 'Helvetica Neue', 'Arial', 'Times New Roman';
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}

body {
  * {
    box-sizing: border-box;
  }
}

.app-header {
  background-color: #1A237E;
  border-bottom: 2px solid #3F51B5;
  color: #E8EAF6;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  position: relative;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
}

.cg-button {
  background: #536DFE;
  border: 1px solid #E8EAF6;
  border-radius: 4px;
  color: #E8EAF6;
  font-size: 16px;
  font-weight: 100;
  height: 40px;

  &:hover {
    background: #304FFE;
    cursor: pointer;
  }

  &:disabled {
    background: #304FFE;
    cursor: default;
    opacity: .5;
  }
}

header {
  .cg-button {
    position: absolute;
    top: 10px;
    width: 80px;
  }
}

.save {
  right: 10px;
}

.exit {
  left: 10px;
}

.question-group {
  margin: 10px 15px;
}

.row-section {
  box-sizing: border-box;
  margin-bottom: 15px;
}

.question, .answer, .finding, .status, .domain, .objective {
  font-family: monospace;
  font-weight: 300;

  textarea {
    height: 75px;
    width: 100%;
  }

  &-label {
    font-size: 18px;
    font-weight: 500;
  }
}

.controls {
  @include container;

  background-color: #5C6BC0;
  border-bottom: 2px solid $purple;
  color: $white;
  line-height: 60px;
  height: 60px;
  text-align: center;

  .previous-container {
    @include span(4);

    height: 60px;
  }

  .progress-container {
    @include container;
    @include span(4 at 5);

    height: 60px;

    input {
      width: 25px;
    }

    .total-progress-indicator {
      @include span(12);
      line-height: 30px;
      height: 30px;
    }

    .domain-progress-indicator {
      @include span(12);

      line-height: 30px;
      height: 30px;
    }
  }

  .next-container {
    @include span(4 at 9);

    height: 60px;
  }

  .cg-button {
    width: 100px;
  }
}