@import "../node_modules/susy/sass/susy";

$susy: (
  columns: 12,
  gutters: 0
);

$purple: #3F51B5;
$white: #fff;

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
}

body {
  * {
    box-sizing: border-box;
  }
}

.app-header {
  @include container;
  @include span(12);
  
  background-color: #1A237E;
  border-bottom: 2px solid #3F51B5;
  color: #E8EAF6;
  font-size: 24px;
  height: 75px;
  text-align: center;
}

.cg-button {
  background: #536DFE;
  border: 1px solid #E8EAF6;
  border-radius: 4px;
  color: #E8EAF6;
  font-size: 16px;
  font-weight: 100;
  height: 40px;
  width: 100px;

  &:hover {
    background: #304FFE;
    cursor: pointer;
  }

  &:disabled {
    background: #304FFE;
    cursor: default;
    opacity: .5;
  }
}

.app-header {
  @include container;

  .exit-container {
    @include container;
    @include span(3);

    line-height: 65px;
  }

  .title-container {
    @include container;
    @include span(6 at 4);

    .title {
      @include span(12);

      padding-top: 5px;
    }

    .total-progress-indicator {
      @include span(12);

      font-size: 14px;
      line-height: 14px;
      padding-top: 10px;

      input {
        width: 35px;
      }
    }
  }

  .save-container {
    @include container;
    @include span(3 at 10);

    line-height: 65px;
  }
}

.question-group {
  @include container;
  @include span(8 at 3);

  padding: 10px;
}

.row-section {
  @include container;
  @include span(12);

  box-sizing: border-box;
  margin-bottom: 15px;

  &.customer-response-row {
    @include span(6);
  }

  &.auditor-notes-row {
    @include span(6 at 7);
  }
}

.question, .answer, .finding, .status, .domain, .objective, .reason, .source, .customer-response, .auditor-notes {
  // font-family: monospace;
  font-weight: 300;

  textarea {
    height: 125px;
    width: 100%;
    resize: none;
  }

  &-label {
    font-size: 18px;
    font-weight: bold;
  }
}

.answers-label, .policy-defined-label, .automation-label, .implementation-label, .reporting-label {
  font-weight: 400;
  letter-spacing: 1px;
}

.controls {
  @include container;
  @include span(12);

  background-color: #5C6BC0;
  border-bottom: 2px solid $purple;
  color: $white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;

  .previous-container {
    @include container;
    @include span(3);

    padding: 10px 0;
  }

  .progress-container {
    @include container;
    @include span(6 at 4);

    input {
      width: 25px;
    }

    .domain-container {
      @include container;
      @include span(4);

      padding: 5px 0;

      .domain-container-label {
        font-size: 16px;
        text-align: center;
      }

      .domain-progress-indicator {
        @include container;
        @include span(12);

        padding: 5px;        
      }
    }

    .section-container {
      @include container;
      @include span(4 at 5);

      padding: 5px 0;

      .section-container-label {
        font-size: 16px;
        text-align: center;
      }

      .section-progress-indicator {
        @include container;
        @include span(12);

        padding: 5px;        
      }    
    }

    .objective-container {
      @include container;
      @include span(4 at 9);

      padding: 5px 0;

      .objective-container-label {
        font-size: 16px;
        text-align: center;
      }

      .objective-progress-indicator {
        @include container;
        @include span(12);

        padding: 5px;        
      }
    }
  }

  .next-container {
    @include container;
    @include span(3 at 10);

    padding: 10px 0;
  }

  .cg-button {
    width: 100px;
  }
}

.nav-menu {
  @include container;
  @include span(2);

  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;

  .nav-item {
    @include container;
    @include span(12);

    border-bottom: 2px solid $purple;
    border-right: 2px solid $purple;
    padding: 10px;

    transition: all .3s ease-out;

    &:hover {
      background-color: $purple;
      color: $white;
      cursor: pointer;
    }
  }
}

choice-menu {
  @include container;
  @include span(2 at 11);

  font-size: 12px;

  choice-item {
    @include container;
    @include span(12);

    padding: 10px;
    padding-left: 0;

    choice-label {
      @include span(12);

      font-weight: 400;
      letter-spacing: 1px;
      padding-bottom: 5px;
    }
  }
}